<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid" alt="{{ teacher.name }}">
            </div>
            <div class="col-9">
                <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} /
                    час</p>
                <h2 class="h4">{{ teacher.name }}</h2>
                <p>{{ teacher.about }}</p>
                <a href="/profiles/{{ teacher.id }}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информацию и расписание</a>
            </div>
        </div>
    </div>
</div>