{% extends 'layout/base.html' %}

{% block content %}
<main class="container mt-3 mb-5">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br />Преподаватели <br />  {{ params.goal_title | lower }}</strong></h1>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 m-auto">
            {% for teacher in params.teachers %}
                {% with teacher=teacher %}
                    {% include 'layout/_teacher.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% include 'layout/_request.html' %}
</main>
{% endblock %}